# dirs
CatEngine/bin
CatEngine/obj
CatEngine/Content/obj
PropsForThat/bin
PropsForThat/obj
PropsForThat/Content/obj
BullSheet/bin
BullSheet/obj
Bullsheet/Content/obj
CatEd/bin
CatEd/obj
CatEd/Content/obj
.vs

# files
*.suo
*.mgcontent
*.cache
